---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <style>
	h1{
		text-align: center;
	}
	img{
		width:330px ;
		height: 350px;
	}.centrado{
		
		margin-top: 40px;
		margin-left: 60px;
		margin-right: 50px;
	}
  </style>
  <body>
    <h1>Arroz Tres Delicias</h1>
	<div class="centrado">
	<img src="uno.jpg" alt=foto1">
	<img src="dos.jpg" alt=foto1">
	<img src="tres.jpg" alt=foto1">
</div>
  </body>
</Layout>
