---

---

<style>
    hr {
        margin-top: 200px;
    }.container{
        text-align: center;
    }
</style>

<footer>
    <div class="container">

        <hr />
        <p><strong>Dades de contacte:</strong></p>
        <p>Calle Principal, Hospitalet de Llobregat</p>
        <p>Teléfon: 697415616</p>
        <p>Horario: Lunes a Viernes: 9am - 9pm</p>
    </div>
   
</footer>
